<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="/users/login" th:object="${loginRequest}">
            <h2>Login</h2>
            <input type="email" name="email" placeholder="Email"/>
            <input type="password" name="password" placeholder="Password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/users/register">Create an account</a></p>
        </form>
    </div>
</div>

</body>
</html>