<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="register-form" method="post" action="/users/register" th:object="${registerRequest}">
            <h2>Register</h2>

            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="Email"/>
            <span th:if="${duplicateEmailError != null}" style="color: red" th:text="${duplicateEmailError}"></span><br>

            <label for="username">Username:</label>
            <input id="username" type="text" name="username" placeholder="Username"/><br>

            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="Password"/><br>
            <!-- Pattern for password validation if needed -->
            <!--            <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"-->
            <!--                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>-->
            <button>create</button>
            <p class="message">Already registered? <a href="/users/login">Sign In</a></p>
        </form>
    </div>
</div>

</body>
</html>