<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks page</title>

    <link rel="stylesheet" href="css/filter_table_style.css">
</head>
<body>

<form action="/users/tasksPage" method="post" th:object="${loggedUser}">
    <div class="wrapper">
        <h1>Welcome to the tasks page <span th:text="${loggedUser.login}"></span></h1>
<!--        <a th:href="@{/personalPage(userId=${userId})}">Back to Personal Page</a>-->
        <h3>Tasks Filter</h3>
        <div class="form-input">
            <button id="convert" class="button glyphicon glyphicon-search"></button>
            <input id="uid" type="text" name="productName" class="input"
                   placeholder="Filter product by name">
        </div>

        <!-- Text shown when SQL injection in the search field -->
        <!--        <p th:if="${sqli != null}" th:class="error" th:text="${sqli}" style="color:red"></p>-->

        <h3>Tasks Table</h3>
        <div class="my_table">
            <table class="filter_table">
                <thead>
                <tr>
                    <th> ID</th>
                    <th> Name</th>
                    <th> Price €</th>
                    <th> Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.empty}">
                    <td colspan="4"> No Products Available</td>
                </tr>
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.id}"> ID </span></td>
                    <td><span th:text="${product.productName}"> Name </span></td>
                    <td><span th:text="${product.productPrice}"> Price </span></td>
                    <td><span th:text="${product.productDescription}"> Description </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

</body>
</html>