<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/user_page_style.css">
</head>
<body>

<div class="admin-panel clearfix">
    <div class="slidebar">
        <div class="logo">
            <a href=""></a>
        </div>
        <div class="login">
            <h4>Welcome <span name="login" th:text="${loginUsername}"></span></h4>
        </div>
        <ul>
            <li><a href="#dashboard" id="targeted">dashboard</a></li>
            <li><a href="/personalPage/manageTasks#task" id="manageTasksLink">Manage Tasks</a></li>
            <li><a href="/personalPage/manageCategories#category" id="manageCategoriesLink" sec:authorize="hasRole('ROLE_ADMIN')">Manage Categories</a></li>
            <li><a href="#pages">pages</a></li>
            <li><a href="#links">links</a></li>
            <li><a href="#comments">comments</a></li>
            <li><a href="#widgets">widgets</a></li>
            <li><a href="#plugins">plugins</a></li>
            <li><a href="#users">users</a></li>
            <li><a href="#tools">tools</a></li>
            <li><a href="#settings">settings</a></li>
        </ul>
    </div>
    <div class="main">
        <ul class="topbar clearfix">
            <li><a href="#">q</a></li>
            <li><a href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a></li>
            <form id="logoutForm" th:action="@{/users/logout}" method="post" style="display: none;"></form>
            <li><a href="#">o</a></li>
            <li><a href="#">f</a></li>
            <li><a href="#">n</a></li>
        </ul>
        <div class="mainContent clearfix">
            <div id="dashboard" style="display: none;">
                <h2 class="header"><span class="icon"></span>Dashboard</h2>
                <div class="monitor">
                    <h4>Right Now</h4>
                    <div class="clearfix">
                        <ul class="content">
                            <li>content</li>
                            <li class="posts"><span class="count">179</span><a href="">posts</a></li>
                            <li class="pages"><span class="count">13</span><a href="">pages</a></li>
                            <li class="categories"><span class="count">21</span><a href="">categories</a></li>
                            <li class="tags"><span class="count">305</span><a href="">tags</a></li>
                        </ul>
                        <ul class="discussions">
                            <li>discussions</li>
                            <li class="comments"><span class="count">353</span><a href="">comments</a></li>
                            <li class="approved"><span class="count">319</span><a href="">approved</a></li>
                            <li class="pending"><span class="count">0</span><a href="">pending</a></li>
                            <li class="spam"><span class="count">34</span><a href="">spam</a></li>
                        </ul>
                    </div>
                    <p>Theme <a href="">Twenty Eleven</a> with <a href="">3 widgets</a></p>
                </div>
                <div class="quick-press">
                    <h4>Quick Press</h4>
                    <form action="" method="post">
                        <input type="text" name="title" placeholder="Title"/>
                        <input type="text" name="content" placeholder="Content"/>
                        <input type="text" name="tags" placeholder="Tags"/>
                        <button type="button" class="save">l</button>
                        <button type="button" class="delet">m</button>
                        <button type="submit" class="submit" name="submit">Publish</button>
                    </form>
                </div>
            </div>
            <div id="task" style="display: none;">
                <h2 class="header">Manage tasks</h2>
                <div class="monitor">
                    <h4>All Tasks</h4>
                    <p th:if="${#lists.isEmpty(tasksForTheCurrentUser)}">No Tasks</p>
                    <div class="clearfix">
                        <ul class="content">
                            <li th:each="task : ${tasksForTheCurrentUser}">
                                <strong th:text="${task.title}">Task Title</strong> - <span th:text="${task.description}">Task Description</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Add Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageTasks/add}" th:object="${task}" method="post">
                            <div>
                                <label for="title">Title:</label>
                                <input type="text" id="title" name="title" required />
                            </div>
                            <div>
                                <label for="description">Description:</label>
                                <input type="text" id="description" name="description" required />
                            </div>
                            <div>
                                <label for="due_date">Due Date:</label>
                                <input type="date" id="due_date" name="due_date" required />
                                <span th:if="${illegalArgumentAdd != null}" style="color: red" th:text="${illegalArgumentAdd}"></span><br>
                            </div>
                            <div>
                                <label for="status">Status:</label>
                                <input type="text" id="status" name="status" required />
                            </div>
                            <div>
                                <label for="priority">Priority:</label>
                                <input type="text" id="priority" name="priority" required />
                            </div>
                            <div>
                                <label for="categoryId">Category:</label>
                                <select id="categoryId" name="category.id" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Add Task</button>
                        </form>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Edit Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageTasks/edit}" th:object="${task}" method="post">
                            <div>
                                <label for="taskTitle">Task by title:</label>
                                <select id="taskTitle" name="selectedTaskByTitle" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="task : ${tasksForTheCurrentUser}"
                                            th:text="${task.title}">
                                    </option>
                                </select>
                            </div>

                            <div>
                                <label for="title">Title:</label>
                                <input type="text" name="title" required/>
                            </div>
                            <div>
                                <label for="description">Description:</label>
                                <input type="text" name="description" />
                            </div>
                            <div>
                                <label for="due_date">Due Date:</label>
                                <input type="date" name="due_date" />
                                <span th:if="${illegalArgumentEdit != null}" style="color: red" th:text="${illegalArgumentEdit}"></span><br>
                            </div>
                            <div>
                                <label for="status">Status:</label>
                                <input type="text" name="status" />
                            </div>
                            <div>
                                <label for="priority">Priority:</label>
                                <input type="text" name="priority" />
                            </div>
                            <div>
                                <label for="categoryId">Category:</label>
                                <select name="category.id">
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Edit Task</button>
                        </form>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Delete Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageTasks/delete}" th:object="${task}" method="post">
                            <div>
                                <label for="deleteTaskTitle">Task by title:</label>
                                <select id="deleteTaskTitle" name="deleteTaskByTitle" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="task : ${tasksForTheCurrentUser}"
                                            th:text="${task.title}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Delete Task</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="category" style="display: none;">
                <h2 class="header">Manage Categories</h2>
                <div class="monitor">
                    <h4>All Categories</h4>
                    <p th:if="${#lists.isEmpty(categories)}">No categories</p>
                    <div class="clearfix">
                        <ul class="content">
                            <li th:each="category : ${categories}">
                                <strong th:text="${category.name}">Category Name</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Add Category</h4>
                    <div class="clearfix">

                        <form id="addCategoryForm" th:action="@{/personalPage/manageCategories/add}" method="post">
                            <input type="text" name="newCategory" placeholder="Enter new category name" required />
                            <button type="submit">Add Category</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="pages">
                <h2 class="header">pages</h2>
            </div>
            <div id="links">
                <h2 class="header">links</h2>
            </div>
            <div id="comments">
                <h2 class="header">comments</h2>
            </div>
            <div id="widgets">
                <h2 class="header">widgets</h2>
            </div>
            <div id="plugins">
                <h2 class="header">plugins</h2>
            </div>
            <div id="users">
                <h2 class="header">users</h2>
            </div>
            <div id="tools">
                <h2 class="header">tools</h2>
            </div>
            <div id="settings">
                <h2 class="header">settings</h2>
            </div>
        </div>
        <ul class="statusbar">
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li class="profiles-setting"><a href="">s</a></li>
            <li class="logout"><a href="">k</a></li>
        </ul>
    </div>
</div>

<script src="/js/user_page.js" defer></script>

</body>
</html>