<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/user_page_style.css">
    <link rel="stylesheet" href="/css/filter_table_style.css">
</head>
<body>

<div class="admin-panel clearfix">
    <div class="slidebar">
        <div class="logo">
            <a href=""></a>
        </div>
        <div class="login">
            <h4>Welcome <span name="login" th:text="${loginUsername}"></span></h4>
        </div>
        <ul>
            <li><a href="/personalPage/manageUsers#users" id="manageUsersLink" sec:authorize="hasRole('ROLE_ADMIN')">Manage Users</a></li>
            <li><a href="/personalPage/manageAllTasks#tasks" id="manageAllTasksLink" sec:authorize="hasRole('ROLE_ADMIN')">Manage All Tasks</a></li>
            <li><a href="/personalPage/manageCategories#category" id="manageCategoriesLink" sec:authorize="hasRole('ROLE_ADMIN')">Manage Categories</a></li>
            <li><a href="/personalPage/manageNotifications#notifications" id="manageNotificationsLink" sec:authorize="hasRole('ROLE_ADMIN')">Manage Notifications</a></li>
            <li><a href="/personalPage/manageUserTasks#userTasks" id="manageTasksLink">My Tasks</a></li>
            <li><a href="/personalPage/manageUserNotifications#userNotifications" id="manageUserNotificationsLink">My Notifications</a></li>
            <li><a href="#tools">tools</a></li>
            <li><a href="/personalPage/settings#settings" id="settingsLink">Settings</a></li>
        </ul>
    </div>
    <div class="main">
        <ul class="topbar clearfix">
<!--            <li><a href="#">q</a></li>-->
            <li><a href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a></li>
            <form id="logoutForm" th:action="@{/users/logout}" method="post" style="display: none;"></form>
<!--            <li><a href="#">o</a></li>-->
        </ul>
        <div class="mainContent clearfix">
            <div id="users">
                <h2 class="header">Manage Users</h2>
                <div class="monitor">
                    <h4>All Users</h4>
                    <div class="clearfix">
                        <ul class="content">
                            <div class="my_table">
                                <table class="filter_table">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> Username</th>
                                        <th> Email</th>
                                        <th> Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(allUsers)}">
                                        <td colspan="4">No Users</td>
                                    </tr>
                                    <tr th:each="user : ${allUsers}">
                                        <td><span th:text="${user.id}"></span></td>
                                        <td><span th:text="${user.username}"></span></td>
                                        <td><span th:text="${user.email}"></span></td>
                                        <td><span th:text="${user.role}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="tasks" style="display: none;">
                <h2 class="header">Manage tasks</h2>
                <div class="monitor">
                    <h4>All Tasks</h4>
                    <div class="clearfix">
                        <div class="my_table">
                            <table class="filter_table">
                                <thead>
                                <tr>
                                    <th> ID</th>
                                    <th> Title</th>
                                    <th> Description</th>
                                    <th> Due Date</th>
                                    <th> Status</th>
                                    <th> Priority</th>
                                    <th> User</th>
                                    <th> Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(allTasks)}">
                                    <td colspan="8">No Tasks</td>
                                </tr>
                                <tr th:each="task : ${allTasks}">
                                    <td><span th:text="${task.id}"></span></td>
                                    <td><span th:text="${task.title}"></span></td>
                                    <td><span th:text="${task.description}"></span></td>
                                    <td><span th:text="${task.due_date}"></span></td>
                                    <td><span th:text="${task.status}"></span></td>
                                    <td><span th:text="${task.priority}"></span></td>
                                    <td><span th:text="${task.user.username}"></span></td>
                                    <td><span th:text="${task.category.name}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Add Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageAllTasks/add}" th:object="${task}" method="post">
                            <div>
                                <label for="title">Title:</label>
                                <input type="text" id="title" name="title" required />
                            </div>
                            <div>
                                <label for="description">Description:</label>
                                <input type="text" id="description" name="description" required />
                            </div>
                            <div>
                                <label for="due_date">Due Date:</label>
                                <input type="date" id="due_date" name="due_date" required />
                                <span th:if="${illegalArgumentAdd != null}" style="color: red" th:text="${illegalArgumentAdd}"></span><br>
                            </div>
                            <div>
                                <label for="status">Status:</label>
                                <input type="text" id="status" name="status" required />
                            </div>
                            <div>
                                <label for="priority">Priority:</label>
                                <input type="text" id="priority" name="priority" required />
                            </div>
                            <div>
                                <label for="categoryId">Category:</label>
                                <select id="categoryId" name="category.id" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Add Task</button>
                        </form>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Edit Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageAllTasks/edit}" th:object="${task}" method="post">
                            <div>
                                <label for="taskTitle">Task by title:</label>
                                <select id="taskTitle" name="selectedTaskByTitle" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="task : ${tasksForTheCurrentUser}"
                                            th:text="${task.title}">
                                    </option>
                                </select>
                            </div>

                            <div>
                                <label for="title">Title:</label>
                                <input type="text" name="title" required/>
                            </div>
                            <div>
                                <label for="description">Description:</label>
                                <input type="text" name="description" />
                            </div>
                            <div>
                                <label for="due_date">Due Date:</label>
                                <input type="date" name="due_date" />
                                <span th:if="${illegalArgumentEdit != null}" style="color: red" th:text="${illegalArgumentEdit}"></span><br>
                            </div>
                            <div>
                                <label for="status">Status:</label>
                                <input type="text" name="status" />
                            </div>
                            <div>
                                <label for="priority">Priority:</label>
                                <input type="text" name="priority" />
                            </div>
                            <div>
                                <label for="categoryId">Category:</label>
                                <select name="category.id">
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Edit Task</button>
                        </form>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Delete Task</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageAllTasks/delete}" th:object="${task}" method="post">
                            <div>
                                <label for="deleteTaskTitle">Task by title:</label>
                                <select id="deleteTaskTitle" name="deleteTaskByTitle" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <option th:each="task : ${tasksForTheCurrentUser}"
                                            th:text="${task.title}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit">Delete Task</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="category" style="display: none;">
                <h2 class="header">Manage Categories</h2>
                <div class="monitor">
                    <h4>All Categories</h4>
                    <p th:if="${#lists.isEmpty(categories)}">No categories</p>
                    <div class="clearfix">
                        <ul class="content">
                            <li th:each="category : ${categories}">
                                <strong th:text="${category.name}">Category Name</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Add Category</h4>
                    <div class="clearfix">

                        <form id="addCategoryForm" th:action="@{/personalPage/manageCategories/add}" method="post">
                            <input type="text" name="newCategory" placeholder="Enter new category name" required />
                            <button type="submit">Add Category</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="notifications">
                <h2 class="header">Manage Notifications</h2>
                <div class="monitor">
                    <h4>All Notifications</h4>
                    <div class="clearfix">
                        <ul class="content">
                            <div class="my_table">
                                <table class="filter_table">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> Description</th>
                                        <th> User</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(allNotifications)}">
                                        <td colspan="3">No Notifications</td>
                                    </tr>
                                    <tr th:each="notification : ${allNotifications}">
                                        <td><span th:text="${notification.id}"></span></td>
                                        <td><span th:text="${notification.description}"></span></td>
                                        <td><span th:text="${notification.user.username}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="monitor">
                    <h4>Add Notification</h4>
                    <div class="clearfix">
                        <form action="#" th:action="@{/personalPage/manageNotifications/add}" th:object="${notification}" method="post">
                            <div>
                                <label for="notificationDescr">Description:</label>
                                <input type="text" id="notificationDescr" name="notificationDescr" required />
                            </div>
                            <div>
                                <label for="userEmail">User Email:</label>
                                <input type="text" id="userEmail" name="userEmail" required />
                            </div>
                            <button type="submit">Add Notification</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="userTasks">
                <h2 class="header">My Tasks</h2>
                <div class="monitor">
                    <h4>All Tasks</h4>
                    <div class="clearfix">
                        <div class="my_table">
                            <table class="filter_table">
                                <thead>
                                <tr>
                                    <th> ID</th>
                                    <th> Title</th>
                                    <th> Description</th>
                                    <th> Due Date</th>
                                    <th> Status</th>
                                    <th> Priority</th>
                                    <th> User</th>
                                    <th> Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(tasksForTheCurrentUser)}">
                                    <td colspan="8">No Tasks</td>
                                </tr>
                                <tr th:each="task : ${tasksForTheCurrentUser}">
                                    <td><span th:text="${task.id}"></span></td>
                                    <td><span th:text="${task.title}"></span></td>
                                    <td><span th:text="${task.description}"></span></td>
                                    <td><span th:text="${task.due_date}"></span></td>
                                    <td><span th:text="${task.status}"></span></td>
                                    <td><span th:text="${task.priority}"></span></td>
                                    <td><span th:text="${task.user.username}"></span></td>
                                    <td><span th:text="${task.category.name}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="userNotifications">
                <h2 class="header">My Notifications</h2>
                <p th:if="${#lists.isEmpty(userNotifications)}">No notifications</p>
                <div class="clearfix">
                    <ul class="content">
                        <li th:each="notification : ${userNotifications}">
                            <strong th:text="${notification.description}"></strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="tools">
                <h2 class="header">tools</h2>
            </div>
            <div id="settings">
                <h2 class="header">Settings</h2>
                <div class="monitor">
                    <h4>Reset Password</h4>
                    <div class="clearfix">
                        <span th:text="${requestSentSuccess}"></span>
                        <form th:action="@{/personalPage/settings/passwordResetRequest}" method="post">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required="required"/>
                            <button type="submit">Send Password Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!--        <ul class="statusbar">-->
<!--            <li><a href=""></a></li>-->
<!--            <li><a href=""></a></li>-->
<!--            <li class="profiles-setting"><a href="">s</a></li>-->
<!--            <li class="logout"><a href="">k</a></li>-->
<!--        </ul>-->
    </div>
</div>

<script src="/js/user_page.js" defer></script>

</body>
</html>